/* .pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
} */

body {
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: "Sedan SC", serif;
     */
    font-family: "PT Serif", serif;
    font-weight: 4 00;
    font-style: normal;
}

/* Color Palette */
:root {
    --primary-color: #295D5E;
    /* Dark grey */
    --secondary-color: #91C6C6;
    /* Medium grey */
    --accent-color: #5C9090;

    /* Light grey */
}

/* Navbar Styles */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 0;
    text-transform: uppercase;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand img {
    width: 120px;
    color: #f5f5f5;
}

.navbar-brand h4 {
    width: 120px;
    color: #f5f5f5;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #fff;
    /* Darker grey */
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    list-style: none;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    color: #fff;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    color: black;
    /* Light grey */
}

.dropdown-toggle:hover+.dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        margin: 10px 0;
    }

    .dropdown-menu {
        position: static;
        background-color: transparent;
        display: block;
    }

    .dropdown-menu li {
        padding: 5px;
    }
}

/* Login Form Style  */
.bg-login {
    background: #cbebeb;
}

.login-card {
    padding: 1%;
    width: 80%;
    height: fit-content;
    -webkit-box-shadow: 12px -8px 25px -7px rgba(37, 106, 107, 1);
    -moz-box-shadow: 12px -8px 25px -7px rgba(37, 106, 107, 1);
    box-shadow: 12px -8px 25px -7px rgba(37, 106, 107, 1);

    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
}

@media (max-width: 992px) {
    .login-card {
        width: 90%;
    }
}

.login-form {
    text-transform: uppercase;
    padding: 20px;
}

.login-image {
    background-image: url('../images/login/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.center-container {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.login-btn-bg {
    background-color: #5C9090;
    color: white;
}

.login-btn-bg:hover {
    background-color: #295D5E;
    color: whitesmoke;
}

.login-btn-txt {
    text-transform: uppercase;
    font-weight: bolder;
}

.forgot-pass span a {
    color: rgb(162, 162, 162);
    text-transform: none;
    text-decoration: none;
}

.forgot-pass span a:hover {
    color: rgb(100, 99, 99);

}

hr {
    margin-left: 8%;
    width: 80%;
    color: #295D5E;
}

.register-txt {
    margin-left: 18%;
    text-transform: none;
    text-decoration: none;
}

.register-link {
    text-transform: none;
    text-decoration: none;
    color: #295D5E;
    border-bottom: 1px solid #295D5E;

}



/* Register Form Card */
.bg-register {
    background: #cbebeb;
}

.center-register-container {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.register-card {
    padding: 1%;
    width: 60%;
    height: fit-content;

    -webkit-box-shadow: -20px -8px 25px -7px rgba(37, 106, 107, 1);
    -moz-box-shadow: -20px -8px 25px -7px rgba(37, 106, 107, 1);
    box-shadow: -20px -8px 25px -7px rgba(37, 106, 107, 1);

    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
}

@media (max-width: 992px) {
    .register-card {
        width: 90%;
    }
}


/* Footer Styles */
footer {
    background-color: #295D5E;
    padding: 40px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    margin-top: 20px;
}

.footer-content h4 {
    color: #f5f5f5;
    font-size: 20px;
}

.footer-content p {
    color: #f5f5f5;
    font-size: 16px;
}

.copyright {
    background-color: #437677;
    padding: 20px 0;
}

.copyright p {
    color: whitesmoke;
    font-size: 14px;
    margin: 0;
}