/* .pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
} */

body {
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: "Sedan SC", serif;
     */
    font-family: "PT Serif", serif;
    font-weight: 4 00;
    font-style: normal;
}

/* Color Palette */
:root {
    --primary-color: #295D5E;
    /* Dark grey */
    --secondary-color: #91C6C6;
    /* Medium grey */
    --accent-color: #5C9090;

    /* Light grey */
}








